<h1>ダッシュボード</h1>

<canvas id="expenseChart" width="400" height="400"></canvas>
<script>

let weekPrices = [];
let date = gon.week;

gon.date_purchase.forEach(d => {if (d == null) {weekPrices.push(0)} else {weekPrices.push(d.total_cost)}});


let ctx = document.getElementById('expenseChart');
let myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: date,
        datasets: [{
            label: '1週間の支出金額',
            data: weekPrices,
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)'
            ,
            borderColor: 
                'rgba(255, 99, 132, 1)'
            ,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>