<h1>ダッシュボード</h1>

<div class="dashboard-component" id="weekBar">
    <canvas id="expenseByWeekBarChart"></canvas>
</div>

<div class="dashboard-component" id="monthBar">
    <canvas id="expenseByMonthBarChart"></canvas>
</div>

<div class="dashboard-component" id="yearBar">
    <canvas id="expenseByYearBarChart"></canvas>
</div>


<canvas id="expenseByWeekPieChart"></canvas>
<canvas id="expenseByMonthPieChart"></canvas>
<canvas id="expenseByYearPieChart"></canvas>
<script>

weekPrices = [];
week = [];

gon.week_date_purchase.forEach(d => {
    week.push(d[0]);
    weekPrices.push(d[1]);
});


barChartNameByWeek = document.getElementById('expenseByWeekBarChart');
batChartByWeek = new Chart(barChartNameByWeek, {
    type: 'bar',
    data: {
        labels: week,
        datasets: [{
            label: '1週間の支出金額',
            data: weekPrices,
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)'
            ,
            borderColor: 
                'rgba(255, 99, 132, 1)'
            ,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

monthPrices = [];
month = [];

gon.month_date_purchase.forEach(d => {
    month.push(d[0]);
    monthPrices.push(d[1]);
});

barChartNameByMonth = document.getElementById('expenseByMonthBarChart');
batChartByMonth = new Chart(barChartNameByMonth, {
    type: 'bar',
    data: {
        labels: month,
        datasets: [{
            label: '1ヶ月の支出金額',
            data: monthPrices,
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)'
            ,
            borderColor: 
                'rgba(255, 99, 132, 1)'
            ,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

yearPrices = [];
year = [];

gon.year_date_purchase.forEach(d => {
    year.push(d[0]);
    yearPrices.push(d[1]);
});

barChartNameByYear = document.getElementById('expenseByYearBarChart');
barChartByYear = new Chart(barChartNameByYear, {
    type: 'bar',
    data: {
        labels: year,
        datasets: [{
            label: '1年の支出金額',
            data: yearPrices,
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)'
            ,
            borderColor: 
                'rgba(255, 99, 132, 1)'
            ,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

productCategoryCostByWeek = []
productCategoryCostByWeekName = []

gon.product_category_by_week.forEach(d => { productCategoryCostByWeek.push(d.total_cost); productCategoryCostByWeekName.push(d.name);});

pieChartNameByWeek = document.getElementById('expenseByWeekPieChart');
pieChart = new Chart(pieChartNameByWeek, {
    type: 'pie',
    data: {
        labels: productCategoryCostByWeekName,
        datasets: [{
            label: '1週間の支出種類',
            data: productCategoryCostByWeek,
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [             
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {


    }
});

productCategoryCostByMonth = []
productCategoryCostByMonthName = []

gon.product_category_by_month.forEach(d => { productCategoryCostByMonth.push(d.total_cost); productCategoryCostByMonthName.push(d.name);});

pieChartNameByMonth = document.getElementById('expenseByMonthPieChart');
pieChart = new Chart(pieChartNameByMonth, {
    type: 'pie',
    data: {
        labels: productCategoryCostByMonthName,
        datasets: [{
            label: '1年の支出種類',
            data: productCategoryCostByMonth,
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [             
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {


    }
});

productCategoryCostByYear = []
productCategoryCostByYearName = []

gon.product_category_by_year.forEach(d => { productCategoryCostByYear.push(d.total_cost); productCategoryCostByYearName.push(d.name);});

pieChartNameByYear = document.getElementById('expenseByYearPieChart');
pieChart = new Chart(pieChartNameByYear, {
    type: 'pie',
    data: {
        labels: productCategoryCostByYearName,
        datasets: [{
            label: '1年の支出種類',
            data: productCategoryCostByYear,
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [             
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {


    }
});
</script>