<h1>ダッシュボード</h1>
<button type="button" id="a">a</button>
<button type="button" id="b">b</button>

<div class="dashboard-group">
    <div class="dashboard-component" id="weekBar">
        <canvas id="expenseByWeekBarChart"></canvas>
    </div>

    <div class="dashboard-component" id="weekPie">
        <canvas id="expenseByWeekPieChart"></canvas>
    </div>
</div>

<div class="dashboard-group">
    <div class="dashboard-component" id="monthBar">
        <canvas id="expenseByMonthBarChart"></canvas>
    </div>

    <div class="dashboard-component" id="monthPie">
        <canvas id="expenseByMonthPieChart"></canvas>
    </div>
</div>

<div class="dashboard-group">
    <div class="dashboard-component" id="yearBar">
        <canvas id="expenseByYearBarChart"></canvas>
    </div>

    <div class="dashboard-component" id="yearPie">
        <canvas id="expenseByYearPieChart"></canvas>
    </div>
</div>
<script>

$("#a").on("click", function() {
  $.ajax({
      url: "dashboard/ajax_get_week_purchase_data",
      type: "GET",
      data: {
          'next_num': gon.next_num-1
      }
  }).done( (data) => {
    $('head').append(data); 
    weekAddData();
  })
});

barChartNameByWeek = document.getElementById('expenseByWeekBarChart');
barChartByWeek = new Chart(barChartNameByWeek, {
    type: 'bar',
    data: {
        labels: gon.week_date_purchase.map(x => x[0]),
        datasets: [{
            label: '1週間の支出金額',
            data: gon.week_date_purchase.map(x => x[1]),
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)'
            ,
            borderColor: 
                'rgba(255, 99, 132, 1)'
            ,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

barChartNameByMonth = document.getElementById('expenseByMonthBarChart');
batChartByMonth = new Chart(barChartNameByMonth, {
    type: 'bar',
    data: {
        labels: gon.month_date_purchase.map(x => x[0]),
        datasets: [{
            label: '1ヶ月の支出金額',
            data: gon.month_date_purchase.map(x => x[1]),
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)'
            ,
            borderColor: 
                'rgba(255, 99, 132, 1)'
            ,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

barChartNameByYear = document.getElementById('expenseByYearBarChart');
barChartByYear = new Chart(barChartNameByYear, {
    type: 'bar',
    data: {
        labels: gon.year_date_purchase.map(x => x[0]),
        datasets: [{
            label: '1年の支出金額',
            data: gon.year_date_purchase.map(x => x[1]),
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)'
            ,
            borderColor: 
                'rgba(255, 99, 132, 1)'
            ,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

pieChartNameByWeek = document.getElementById('expenseByWeekPieChart');
pieChartByWeek = new Chart(pieChartNameByWeek, {
    type: 'pie',
    data: {
        labels: gon.product_category_by_week.map(x => x.name),
        datasets: [{
            label: '1週間の支出種類',
            data: gon.product_category_by_week.map(x => x.total_cost),
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [             
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {


    }
});

pieChartNameByMonth = document.getElementById('expenseByMonthPieChart');
pieChartByMonth = new Chart(pieChartNameByMonth, {
    type: 'pie',
    data: {
        labels: gon.product_category_by_month.map(x => x.name),
        datasets: [{
            label: '1年の支出種類',
            data: gon.product_category_by_month.map(x => x.total_cost),
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [             
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {


    }
});

pieChartNameByYear = document.getElementById('expenseByYearPieChart');
pieChartByYear = new Chart(pieChartNameByYear, {
    type: 'pie',
    data: {
        labels: gon.product_category_by_year.map(x => x.name),
        datasets: [{
            label: '1年の支出種類',
            data: gon.product_category_by_year.map(x => x.total_cost),
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [             
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {


    }
});

function weekAddData() {
    barChartByWeek.data.labels = gon.week_date_purchase.map(x => x[0]);
    barChartByWeek.data.datasets[0].data = gon.week_date_purchase.map(x => x[1]);
    pieChartByWeek.data.labels = gon.product_category_by_week.map(x => x.name);
    pieChartByWeek.data.datasets[0].data = gon.product_category_by_week.map(x => x.total_cost);
    barChartByWeek.update();
    pieChartByWeek.update();
}

function monthAddData() {
    barChartByMonth.data.labels = gon.month_date_purchase.map(x => x[0]);
    barChartByMonth.data.datasets[0].data = gon.month_date_purchase.map(x => x[1]);
    pieChartByMonth.data.labels = gon.product_category_by_month.map(x => x.name);
    pieChartByMonth.data.datasets[0].data = gon.product_category_by_month.map(x => x.total_cost);
    barChartByMonth.update();
    pieChartByWMonth.update();
}

function yearAddData() {
    barChartByYear.data.labels = gon.year_date_purchase.map(x => x[0]);
    barChartByYear.data.datasets[0].data = gon.year_date_purchase.map(x => x[1]);
    pieChartByYear.data.labels = gon.product_category_by_year.map(x => x.name);
    pieChartByYear.data.datasets[0].data = gon.product_category_by_year.map(x => x.total_cost);
    barChartByYear.update();
    pieChartByYear.update();
}
</script>