<h1>ダッシュボード</h1>
<button type="button" id="ago_week">a</button>
<button type="button" id="next_week">b</button>

<div class="dashboard-group">
    <div class="dashboard-component" id="weekBar">
        <canvas id="expenseByWeekBarChart"></canvas>
    </div>

    <div class="dashboard-component" id="weekPie">
        <canvas id="expenseByWeekPieChart"></canvas>
    </div>
</div>

<button type="button" id="ago_month">a</button>
<button type="button" id="next_month">b</button>

<div class="dashboard-group">
    <div class="dashboard-component" id="monthBar">
        <canvas id="expenseByMonthBarChart"></canvas>
    </div>

    <div class="dashboard-component" id="monthPie">
        <canvas id="expenseByMonthPieChart"></canvas>
    </div>
</div>

<button type="button" id="ago_year">a</button>
<button type="button" id="next_year">b</button>

<div class="dashboard-group">
    <div class="dashboard-component" id="yearBar">
        <canvas id="expenseByYearBarChart"></canvas>
    </div>

    <div class="dashboard-component" id="yearPie">
        <canvas id="expenseByYearPieChart"></canvas>
    </div>
</div>