<h1><%= @date_purchase.date %>の家計簿</h1>

<% @date_purchase.store_purchases.each do |s| %>
    <%= s.store.name %>
    <% s.products.each do |p| %>
        <%= p.name %>
    <% end %>
    <hr>
<% end %>
