<h1>カテゴリ一覧</h1>
<div class="show-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">カテゴリの名前</th>
            </tr>
        </thead>
        <tbody>
            <% @product_categories.each do |p| %>
            　  <tr>
                    <td><%= link_to p.name, edit_product_category_path(p) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>